</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
<script src="app.js"></script>
<script src="index.js"<>/script>
<div class="footer">
    <footer>
        <p>Copyright @ Rekon.com 2022-2023.</em></p>
    </footer>
</div>
</body>
</html>
