<%- include("partials/header")  -%>


<div class="container">
    <div class="maintitle">
        <h1><%= startingtitle %></h1>
    </div>

    <div class="taglineinfo">This is NotHuman</div>

</div>


<%- include("partials/footer")  -%>

