<%- include("partials/header")  -%>
<!-- <div class="container"> -->

    <div class="maintitle">
        <h1><%= startingtitle %></h1>
    <!-- </div> -->
    
<div class="mainbox">
    <div class="mainsvg">
        <lottie-player src="https://lottie.host/4356dbd5-ea0f-4d30-ab74-d58a9a88dad5/xFPJwJDQQJ.json" background="transparent" speed="0.5" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div class="maininfo">
        <div class="tagline">Recon, Great Music </div>
        <div class="taglineinfo">Some days I need the Music, Some days I need the Lyrics</div>
       <!-- <div class="mainbtn"> <div id="testbutton"></div></div> -->
       <a class="btn" href="/playlist">Explore</a>
    </div>
</div>



<%- include("partials/footer")  -%>


